RewriteEngine On

# Make sure rewrite works inside subfolder
RewriteBase /lms/

# Only rewrite if file or folder doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Remove .php from URL
RewriteRule ^(.+)$ $1.php [L]

# Disable directory listing
Options -Indexes